header
{
    text-align : center
}
footer{
    margin-right:50px;
    text-align : right;
    position: fixed;
    
    bottom: 0;
    width: 100%;
    height: 100px;
}


html, body {
  background-color: #1f1f1f; 
  height: 100%; 
  width:100%;
  margin:0;
}

#grid {
  max-width:800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  width:100%;
  height:175px;
}

.b-social {
  min-width:200px;
  height:200px;
  float:left;
  display: flex;               
  align-items: center; 
}

figure {
  width: 150px;
  height: 150px;
  margin:auto;
}

.iine, .wao, .uwan, .mumu {
  -webkit-transition: -webkit-all 0.5s cubic-bezier(.25,.1,.25,1);
    transition: all 0.5s cubic-bezier(.25,.1,.25,1);
}

.iine {
  border-radius:50%;
  border: 3px solid #DE5D83;
  background-color:#DE5D83;
}
.wao {
  border-radius:50%;
  border: 3px solid #E3A857;
  background-color:#E3A857;
}

.uwan {
  border-radius:50%;
  border: 3px solid #00558F;
  background-color:#00558F;
}
.mumu {
  border-radius:50%;
  border: 3px solid #C20024;
  background-color:#C20024;
}

figcaption.inline {
  font-family: 'Exo', sans-serif;
  text-align:center;
  color: white;
  margin-top:37px;
}

figcaption.inline h1 {
  color: #FFF;
  font-size:0.9em;
}

figure figcaption.inline p {
  color: #FFF;
  opacity:0;
   font-size:0.9em;
}

figure h1, figure p {
   -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

figure:hover figcaption.inline p {
  opacity:1;
  margin-top:-5px;
}

.iine:hover {
  border: 20px solid #FC8EAC;
}
.wao:hover {
  border: 20px solid #F2CC99;
}

.uwan:hover {
  border: 20px solid #0082D8;
}
.mumu:hover {
  border: 20px solid #EF454A;
}

figure:hover figcaption.inline h1 {
  opacity:0.5;
  font-size:0.7em;
}

@media screen and (max-width: 800px) {
  /* 800px以下の場合 */

  .row {
    width:100%;
    height:175px;
  }
  
  .b-social {
    min-width:90px;
    height:180px;
    float:left;
    display: flex;               
    align-items: center; 
  }
  
  figure {
    width: 60px;
    height: 60px;
    margin:auto;
  }

  figcaption.inline {
    margin-top:12px;
  }

  img.kao {
    width:40%;
    height: 40%;
  }

  .iine:hover {
    border: 10px solid #FC8EAC;
  }
  .wao:hover {
    border: 10px solid #F2CC99;
  }
  
  .uwan:hover {
    border: 10px solid #0082D8;
  }
  .mumu:hover {
    border: 10px solid #EF454A;
  }
}
