:root {
  --header-height: 45px;
}
html{
  height: 100%;
}

body{
  background-color: #1f1f1f;
  height: 100%;
  margin: 0;
}

.header{
  height: var(--header-height);
  background-color: #1f1f1f;
}

#count{
  float: right;
  font-size: 25px;
  color: white;
}

#chat-button{
  float: left;
  font-size: 25px;
  color: white;
}

#panda{
  height: 25px;
  padding-top: 10px;
  color: #ffffff;
}

#chat-icon{
  height: 25px;
  padding-top: 10px;
  padding-left: 5px;
  color: #ffffff;
}

#bear{
  width: 15%;
  height: auto;
  color: #ffffff;
}

#tmp{
  height: calc(80% - var(--header-height));
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
}
#main{
  width: 100%;
  height: auto;
  display: block;
}

#picture{
  position: relative;
/*  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;*/
}

#face{
  text-align: center;
  color: #ffffff;
}
#face img{
  display: block;
  width: 60%;
  height: auto;
  max-width: 400px;  
  margin: 0 auto;
}

#name{
  text-align: center;
  font-size: 5vh;
} 

#timeline{
/*  position: relative;
  float: left;*/
  width: 100%;
  height: auto;
}

#emo{
  width: 100%;
  height: auto;
  background-color: #1f1f1f;
  display: block;
}

.emoFace{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
}

.readme{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #3B6871;
  color: #fff;
  font-family: 'メイリオ', "Meiryo";
}
.readme div{
  /* max-width: 800px; */
  text-align: center;
  margin:0 auto;
  /* display: table-cell; */
  vertical-align: middle;
}
#attention{
  font-size: 30%;
}
#apptitle{
  width: 30%;
  height: auto;
}
#creator{
  width: 18%;
  height: auto;
}
#touchbear{
  color: #B3AE40;
}
#attention{
  font-size: 30%;
}
#sorry{
  width: 100%;
  font-size: 80%;
}
#bear:hover{
  cursor: pointer;  
}

#tweet-text-form{
  -moz-box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 1px 4px 9px -6px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 4px 9px -6px rgba(0,0,0,0.5);
}

input:focus {
  border:solid 1px #EEA34A;
}

.title-border {
  display: flex;
  align-items: center;
}
.title-border:before,
  .title-border:after {
  border-top: 1px solid;
  content: "";
  flex-grow: 1;
}
.title-border:before {
  margin-right: 1rem;
  margin-left: 1rem;
}
.title-border:after {
  margin-left: 1rem;
  margin-right: 1rem;
}

#chatform {
  display: block;
}

.form-group {
 text-align: center;
 padding-top: 10px;
 padding-bottom: 5px;
}

#tweet-input-button{
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  text-decoration: none;
  color: #FFF;
  background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}