:root {
  --header-height: 45px;
}
html{
  height: 100%;
}

body{
  background-color: #1f1f1f;
  height: 100%;
  margin: 0;
}

.header{
  height: var(--header-height);
  background-color: #1f1f1f;
}

#count{
  float: right;
  font-size: 25px;
  color: white;
}

#panda{
  height: 25px;
  padding-top: 10px;
  color: #ffffff;
}

#bear{
  width: 15%;
  height: auto;
  color: #ffffff;
}

#tmp{
  height: calc(80% - var(--header-height));
  background-color: #1f1f1f;
  color: #ffffff;
  text-align: center;
}
#main{
  width: 100%;
  height: auto;
}

#picture{
  position: relative;
/*  width: 100%;
  height: 100%;
  text-align: center;
  color: #ffffff;*/
}

#face{
  text-align: center;
  color: #ffffff;
}
#face img{
  display: block;
  width: 60%;
  height: auto;
  max-width: 400px;  
  margin: 0 auto;
}

#name{
  text-align: center;
  font-size: 5vh;
} 

#timeline{
/*  position: relative;
  float: left;*/
  width: 100%;
  height: auto;
}

#emo{
  width: 100%;
  height: auto;
  background-color: #1f1f1f;
}

.emoFace{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10%;
}

.readme{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #3B6871;
  color: #fff;
  font-family: 'メイリオ', "Meiryo";
}
.readme div{
  /* max-width: 800px; */
  text-align: center;
  margin:0 auto;
  /* display: table-cell; */
  vertical-align: middle;
}
#attention{
  font-size: 30%;
}
#apptitle{
  width: 30%;
  height: auto;
}
#creator{
  width: 18%;
  height: auto;
}
#touchbear{
  color: #B3AE40;
}
#attention{
  font-size: 30%;
}
#sorry{
  width: 100%;
  font-size: 80%;
}
#bear:hover{
  cursor: pointer;  
}
